<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Experienced Geographic Information Systems/Science professional with over ten years of experience working for the federal
    &amp; state government, as well as the private sector. Strong interest to apply the latest web development and programming
    technoliges to daily tasks, as well as open-source APIs when applicable. </p>
</div><!--//summary-->
</section><!--//section-->
