<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
        I am a Software Developer currently working on applications that deliver geospatial data to the people of Texas. I 
        worked in the field of Geographic Information Systems/Science as an Analyst for more than 10 years for both the 
        federal &amp; state government, as well as the private sector. I am a Free and Open Source Software (FOSS) promoter
        and I love that I get to work with Linux everyday. I am constantly trying to improve and learn new things, and I enjoy
        contributing to the small Dev team I work with.
    </p>
</div><!--//summary-->
</section><!--//section-->
