<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Geographic Information Systems/Science professional with over ten years of experience working for both the federal
    &amp; state government, as well as the private sector. Strong interest to apply the latest web development and programming
    methods to build simple and useful tools, as well as interactive geospatial views, for users. Geniune interest and desire to
    stay abreast of the ever-evolving and progressing technical fields of GIS &amp; web development in order to deliver the most
    efficient processes and best user interaction for the organization. Strong communication skills with a focus on excellent
    documentation and the ability to work in collaborative team environments.
    </p>
</div><!--//summary-->
</section><!--//section-->
