<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Texas Natural Resources Information System (TNRIS), Austin</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                        Work on a small technical team responsible for developing, enhancing, and maintaining multiple web applications, technical tools, and
                        cloud infrastructure in order to disseminate and visualize geospatial data for the citizens of Texas and beyond. Languages,
                        frameworks and tools include: JavaScript, Python, AWS (EC2, ECS, CodePipeline, Lambda, S3, and more), Linux, Node.js, Django, React.js,
                        Docker, Terraform, and more. Assist with team lead administrative duties when needed.
                      </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">GIS Analyst III</h3>
                            <div class="time">2016 - 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Texas Department of Transportation, Austin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Served as the GIS coordinator for the 11 county Austin District responsible for geospatial data management, graphic design, GIS and
                        technology training, web application development and maintenance, transportation planning, and analysis.</p>
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">GIS Specialist II</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Texas Department of Public Safety, Austin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Geospatial analysis for the Highway Safety Operations Center using data derived from the TxDOT Crash Records Information System
                        (CRIS).</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">GIS Specialist</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Railroad Commission of Texas, Austin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Sole GIS professional in the Surface Mining &amp; Reclamation division responsible for all data management of mine permits and
                          related environmental geospatial data across the state. Developed a geospatial data management plan for the division to achieve
                          a more organized work flow, central data repository, uniform geodatabase schema, and data integrity and interoperability
                          standards. Developed programs, user interfaces, python scripts, and geoprocessing models to meet user needs and expedite work
                          flows. Responsible for all new software installation and distribution within the division.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intelligence Analyst</h3>
                            <div class="time">2010 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">United States Army</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Conducted geospatial analysis using primarily ArcGIS for line of sight analysis, slope and terrain analysis, cartographic production,
                          editing and creating vector features and raster surfaces, geo-referencing images, tabular data manipulation, 3D analysis, and
                          graphic design. Deciphered, analyzed, cross-referenced, and disseminated intelligence received from a variety of sources in order to
                          facilitate leadership decision making. Supervised and assisted troops consisting of trouble shooting GIS issues and quality
                          control of analytical products.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">GIS Analyst</h3>
                            <div class="time">2007 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Fugro, Houston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Utilized the ArcGIS suite in combination with Geosoft Montaj software to create high quality gravity and magnetic surfaces and cartographic
                          deliverables for clients in oil and gas exploration. Processed geophysical data collected from both aerial and marine assets for client use in
                          potential fields analyses. Researched new technologies and methodologies to benefit GIS products. Documented internal GIS methods and developments.
                          Created, edited, organized, and optimized geodatabases for delivery to the client. Maintained familiarity with worldwide coordinate systems,
                          projections, and proper spatial data transformations.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">GIS Intern</h3>
                            <div class="time">2007</div>
                        </div><!--//upper-row-->
                        <div class="company">City of San Marcos, San Marcos</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Routine GIS duties with ArcGIS including editing, creating, and quality control of geospatial water/waste water infrastructure features within
                          an enterprise versioned environment. Performed database entries into large legacy excel files for import into ArcSDE.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
