<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">

                    <div class="item">
                      <h3 class="level-title">ArcGIS / ArcGIS Online</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="95%">
                          </div>
                      </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                      <h3 class="level-title">QGIS</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="70%">
                          </div>
                      </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                      <h3 class="level-title">HTML &amp; CSS</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="80%">
                          </div>
                      </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                      <h3 class="level-title">SQL</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="60%">
                          </div>
                      </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                      <h3 class="level-title">Javascript / jQuery</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="60%">
                          </div>
                      </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Git / GitHub</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                      <h3 class="level-title">Leaflet</h3>
                      <div class="level-bar">
                          <div class="level-bar-inner" data-level="75%">
                          </div>
                      </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Graphic Design</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->
